blinker
click
colorama
contourpy
cycler
Flask
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
matplotlib-venn
numpy
packaging
pandas
Pillow
pyparsing
pyswip
python-dateutil
pytz
scipy
six
tzdata
Werkzeug
gunicorn
