{% extends 'layout.html' %}

{% block title %}MediCare Analyzer - Analisis{% endblock %}

{% block body %}

<div class="container">
  <h1 class="mt-4 mb-4">Resultados del análisis de síntomas</h1>

  <!-- Mostrar los síntomas analizados -->
  <div class="mb-4">
      <p>Los síntomas analizados son: {{ sintomas_agregados | join(', ') }}</p>
  </div>

  <!-- Muestra la tabla de resultados -->
  <div class="mb-4">
      {{ tabla_html | safe }}
  </div>

  <div class="row mb-4">
      <!-- Muestra el gráfico de barras -->
      <div class="col-md-6">
          <img src="data:image/png;base64,{{ img_base64 }}" alt="Gráfico de similitud" class="img-fluid">
      </div>

      <!-- Muestra las descripciones de las enfermedades -->
      <div class="col-md-6">
        <p class="lead">Descripción de las enfermedades con más % de similitud en base a sus síntomas:</p>
        {% for enfermedad, descripcion in dicionario_descripciones.items() %}
        <div class="card mb-4">
            <h5 class="card-header">{{ enfermedad }}</h5>
            <div class="card-body">
                <p class="card-text">{{ descripcion }}</p>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>

  <!-- Botón para realizar una nueva evaluación -->
  <div class="text-center">
      <form action="/nuevaEvaluacion" method="GET">
          <button type="submit" class="btn btn-primary">Realizar nueva evaluación</button>
      </form>
  </div>
</div>
{% endblock %}