{%extends 'layout.html'%}

{%block style%}<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">{%endblock%}
{%block title%}MediCare Analyzer - Home{%endblock%}

{%block home%}
<div class="homebackground">
  <div class="hero-container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/image_home.jpg') }}" class="d-block w-100" alt="Carousel Image 1">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/image_home1.jpg') }}" class="d-block w-100" alt="Carousel Image 2">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/image_home2.jpg') }}" class="d-block w-100" alt="Carousel Image 3">
        </div>
      </div>
    </div>

    <div class="hero-content">
      <h1 class="hero-title">MediCare Analyzer</h1>
      <p class="hero-description">
        La plataforma tiene como finalidad permitir a los profesionales de la salud una evaluación y diagnóstico
        más rápido y preciso a través de la recopilación y análisis de síntomas proporcionados por los pacientes.
      </p>
      <a href="/evaluacion" class="hero-button">Comenzar evaluación</a>
    </div>
  </div>
</div>
{%endblock%}